@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
    url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''), url('../fonts/rubik-v10-latin-regular.woff2') format('woff2');
}
