@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/rubik-v10-latin-regular.woff2') format('woff2');
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --background-color: rgb(249, 249, 249);
  --text-color: rgb(49, 49, 49);
  --accent-color: DeepSkyBlue;
  background-color: var(--background-color);
  transition: background-color 0.1s;
}

.nav--outer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-left: -1em;
}

.nav--title {
  font-family: 'Roboto Mono', monospace;
  margin-top: 1rem;
  font-size: calc(3rem + 14vw);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
  color: var(--background-color);
  text-shadow: 0px calc(3px + 0.3vw) var(--text-color);
  letter-spacing: -0.08em;
}

@media (min-width: 1080px) {
  .nav--title {
    font-size: 12.5rem;
    text-shadow: 0px 7px var(--text-color);
  }
}

.nav--title:hover {
  text-shadow: 0px 4px var(--accent-color);
  -webkit-text-stroke-color: var(--accent-color);
}

.nav--icons_outer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: calc((3rem + 14vw) * 3.12);
}

@media (min-width: 1080px) {
  .nav--icons_outer {
    width: 39rem;
  }
}

.nav--icons_inner {
  display: flex;
  margin-left: calc(1.2vw);
}

@media (min-width: 1080px) {
  .nav--icons_inner {
    margin-left: 1rem;
  }
}

.nav--icon {
  width: calc(1.2rem + 1vw);
  margin-left: calc(0.5em + 1vw);
  color: var(--text-color);
}

@media (min-width: 1080px) {
  .nav--icon {
    width: 1.8rem;
    margin-left: 1.2em;
  }
}

.nav--icon:first-child {
  margin-left: 0 !important;
}

.nav--icon:hover {
  color: var(--accent-color);
}

.nav--links {
  margin-top: 1rem;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc((3rem + 14vw) * 3.12);
}

@media (min-width: 1080px) {
  .nav--links {
    width: 39rem;
  }
}

.nav--link {
  font-family: 'Rubik', monospace;
  color: var(--text-color);
  letter-spacing: -1px;
  font-size: calc(0.7em + 2.2vw);
  line-height: 1.1em;
  text-decoration: none;
}

@media (min-width: 1080px) {
  .nav--link {
    font-size: 2.2em;
  }
}

.nav--link:hover {
  text-decoration: underline var(--accent-color);
}

.nav--link-active {
  text-decoration: underline;
}

h1,
div,
span,
li {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
}
