@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
    url('/fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''), url('/fonts/rubik-v10-latin-regular.woff2') format('woff2');
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --background-color: rgb(249, 249, 249);
  --text-color: rgb(49, 49, 49);
  --accent-color: DeepSkyBlue;
  --monospace-font: 'Roboto Mono', monospace;
  --sans-serif-font: 'Rubik', sans-serif;
  background-color: var(--background-color);
  transition: background-color 0.1s;
}

h1 {
  font-family: var(--sans-serif-font);
  font-size: calc(2em + 2vw);
  color: var(--text-color);
  letter-spacing: -0.05em;
}

@media (min-width: 1040px) {
  h1 {
    font-size: 3.35em;
  }
}

.content--outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content--inner {
  max-width: 860px;
  margin: 0 1em 0 1em;
}
