.writing--all-posts {
  font-family: var(--sans-serif-font);
}

.writing--post {
  margin-bottom: 1em;
}

.writing--info-line {
  color: var(--dim-text-color);
}

.writing--post-title {
  font-weight: bold;
}
